<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div><%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field" >
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autofocus: true %>
  </div>


   <div class="field">
    <%= f.label :address_city %><br />
    <%= f.text_field :address_city, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :address_country %><br />
    <%= f.text_field :address_country, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address_line %><br />
    <%= f.text_field :address_line, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :card_type %><br />
    <%= f.text_field :card_type, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :cvc %><br />
    <%= f.text_field :cvc, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :expires_month %><br />
    <%= f.text_field :expires_month, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :expires_year %><br />
    <%= f.text_field :expires_year, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
