
<h2>Order</h2>
<ul>
  <% @order.order_items.sort_by { |h | h[:id] }.each do |order_item| %>
    <li>Order Item: <%= order_item.product.name %>/ Price: <%= number_to_currency(order_item.product.price) %>/ Quantity: <%= order_item.quantity %>/ Total Price: <%= number_to_currency(order_item.total_price) %>
    <ul>
      <li>

         <%= button_to " Add One ", order_item_add_path(:id => order_item.id), method: :post %>
          <%= button_to " Reduce One ", order_item_reduce_path(:id => order_item.id), method: :post %>
      </li>
      <li>
        <%= form_for order_item, method: :delete do |f| %>
          <%= f.submit "Delete" %>
        <% end %>
      </li>
    </ul>
  <% end %>
</ul>
<h3>Sub total: <%= number_to_currency(@order.sub_total) %></h3>
<%= @order.id.inspect %>


 <%= button_to "Checkout to Proceed ", order_proceed_path(:id => @order.id), method: :post %>




