<p id="notice"><%= notice %></p>

<p>
  <strong>Category_id:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<% if @post.main_image.attached? %>
 <%= image_tag @product.main_image, style: "width:400px; disply:block" %>
<% end %>



</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
